:root {
  --ball-diameter: 15vmin;
  --turns: 5turn;
  --bottom: calc(100vh - var(--ball-diameter) / 1.5);
  --right: calc(100vw - var(--ball-diameter));
}

body {
  background-color: royalblue;
  height: 100%;
  overflow: hidden;
}

.ball {
  width: var(--ball-diameter);
  border-radius: 50%;
}

.move {
  position: absolute;
  animation: moveX 4s linear, moveY 1.5s ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.rotate-right {
  animation-name: rotate-right;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

.rotate-left {
  animation-name: rotate-left;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: var(--right);
  }
}

@keyframes moveY {
  from {
    top:10vh;
  }
  90% {
    transform: scaleY(1);
  }
  to {
    top: var(--bottom);
    transform: scaleY(0.5)
  }
}

@keyframes rotate-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(var(--turns));
  }
}

@keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(var(--turns));
  }
}
