:root {
  --ball-diameter: 10vmin;
  --turns: 5turn;
  --bottom: calc(100vh - var(--ball-diameter));
  --right: calc(100vw - var(--ball-diameter));
}

body {
  margin: 0;
  background-color: royalblue;
  height: 100%;
  overflow: hidden;
}

.ball {
  width: 10vmin;
  border-radius: 50%;
  transform-origin: center;
}

.move {
  transform-origin: center;
  animation-name: moveX, moveY;
  animation-timing-function: linear, ease-in;
  animation-duration: 4s, 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.rotate {
  transform-origin: center;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes moveX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--right));
  }
}

@keyframes moveY {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(var(--bottom));
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(var(--turns));
  }
}
